#cloud-config
hostname: ${hostname}
users:
  - name: ${cloud_init_user}
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    ssh_authorized_keys:
%{ for key in ssh_keys ~}
      - ${key}
%{ endfor ~}
package_update: true
%{ if length(extra_packages) > 0 ~}
packages:
%{ for pkg in extra_packages ~}
  - ${pkg}
%{ endfor ~}
%{ endif ~}
%{ if length(server_files) > 0 || server_config_yaml != "" ~}
write_files:
%{ if server_config_yaml != "" ~}
  - path: /etc/rancher/k3s/config.yaml
    owner: root:root
    permissions: "0640"
    content: |
      ${indent(6, server_config_yaml)}
%{ endif ~}
%{ for path, content in server_files ~}
  - path: ${path}
    owner: root:root
    permissions: "0640"
    content: |
      ${indent(6, content)}
%{ endfor ~}
%{ endif ~}
runcmd:
%{ for cmd in pre_k3s_commands ~}
  - ${cmd}
%{ endfor ~}
  - mkdir -p /etc/rancher/k3s
  - curl -sfL https://get.k3s.io | INSTALL_K3S_VERSION="${k3s_version}" K3S_TOKEN="${k3s_token}" sh -s - server --cluster-init --node-name ${hostname}%{ for c in disable_components } --disable ${c}%{ endfor }%{ for arg in extra_server_args } ${arg}%{ endfor }%{ for t in server_taints } --node-taint ${t}%{ endfor }
%{ for cmd in post_k3s_commands ~}
  - ${cmd}
%{ endfor ~}
